<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <H1>Hello World</H1>

 <input type="text" placeholder="entrez votre nom">

  <!-- utilisation du title component -->
 <app-title></app-title>

<!-- interpolation de la variable hello et de l'expression 1+2 -->
<p>{{ hello }}</p>
<p> 1 + {{ nb }} = {{ 1 + nb }} </p>

<!-- interaction via event binding -->
<button (click)="clickMe()">Clique donc là !</button>

<!-- liaison par propriety binding -->
<div [hidden]="isHidden">Steak Haché</div>
<p></p>
<!-- liaison par double sens / two way binding -->
<label for="ici">entrez votre nom</label>
<input id="ici" type="text" placeholder="anonyme" [(ngModel)]="name">
<!-- ngstyle modifie le css dynamiquement -->
<p [ngStyle]="{'color' : colorText}">Bonjour {{ name }} !</p>

<p [ngClass]="{'green': nb < 10, 'orange': nb < 15 && nb >= 10, 'red': nb >= 15}"> Le nombre est {{nb}} </p>

<!-- directives structurelles (if/for) -->
<div *ngIf="fruits.length > 2">
  <ul>
    <li *ngFor="let fruit of fruits">{{fruit}}</li>
  </ul>
</div>

</ion-content>
